body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='1440'%3E%3Cpath fill='%23D6E1FF' fill-rule='evenodd' d='M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z'/%3E%3C/svg%3E");
  background-color: #e0e8ff;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  position: absolute;
  width: 450px;
  height: 730px;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;
}

svg {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

h1 {
  text-align: center;
  margin-top: 2.5rem;
}

p {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 500;
  line-height: 1.5rem;
}

.w700 {
  font-weight: 700;
}

.w500 {
  font-weight: 500;
}

.w900 {
  font-weight: 900;
}

.annual-plan-border {
  display: flex;
  margin-top: 2rem;
  margin-left: 25px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  justify-content: center;
  align-content: center;
  height: 90px;
  width: 400px;
}

.align-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.text-price {
  padding-left: 2rem;
}

.change {
  margin-right: 2rem;
}

.interlign {
  padding-bottom: 5px;
}

.big-interlign {
  padding-bottom: 15px;
}

.payment {
  display: block;
  background-color: hsl(245, 75%, 52%);
  color: white;
  width: 400px;
  height: 45px;
  margin-top: 2rem;
  margin-left: 25px;
  border-width: 0px;
  border-radius: 15px;
  cursor: pointer;
}

.order {
  display: block;
  background-color: white;
  width: 400px;
  height: 45px;
  margin-top: 1rem;
  margin-left: 25px;
  border-width: 0;
  cursor: pointer;
}

.no-deco {
  text-decoration: none;
}
